/* Content */
.contentLayout {
  max-width: 960px;
  width: 80vw;
  margin: 0 auto 80px;
}

.contentTitle {
  text-align: center;
}

/* Footer */
.footerLayout {
  width: 100%;
  padding: 30px 0;
  background-color: #333;
  text-align: center;
}
.footerText {
  color: #eee;
}
