/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 20px;
  background-color: #222;
  color: white;
}
.headerMenu {
  display: flex;
  list-style: none;
}
.headerMenuItem {
  display: block;
  color: white;
  text-decoration: none;
  padding: 16px;
}
.headerMenuItem:hover {
  opacity: 0.7;
}

/* MainVisual */
.mainVisualLayout {
  margin-bottom: 80px;
}
.mainVisual {
  width: 100%;
}

/* Content */
.contentLayout {
  max-width: 960px;
  width: 80vw;
  margin: 0 auto 80px;
}

.contentTitle {
  text-align: center;
}

/* Footer */
.footerLayout {
  width: 100%;
  padding: 30px 0;
  background-color: #333;
  text-align: center;
}
.footerText {
  color: #eee;
}
